.projects-section {
  padding: 10px;
}
.thumbnail-swiper-container {
  width: 100%;
}

.thumbnail-swiper {
  width: 100%;
  height: 80px;
}

.thumbnail-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.thumbnail-swiper .swiper-wrapper {
  justify-content: center;
}

.thumbnail-swiper .swiper-slide {
  width: auto;
}

.thumbnail-slide:hover {
  opacity: 1;
}

.thumbnail-swiper .swiper-slide-thumb-active .thumbnail-slide {
  opacity: 1;
  border: 2px solid white;
}

.main-thumbnail-swiper {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.slide-content {
  height: 100%;
  border-radius: 8px;
}
.slide-content .project-title {
  padding: 10px 0;
}
.slide-content p {
  line-height: 1.8rem;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.slide-content img {
  border: 1px solid var(--main-text);
  box-sizing: border-box;
}
.slide-content .project-date {
  color: var(--sub-text);
  font-size: 0.9rem;
}
.slide-content .project-skills {
  color: var(--sub-highlight);
  font-weight: bold;
}
@media (max-width: 768px) {
  .thumbnail-swiper {
    display: none;
  }
  .main-thumbnail-swiper {
    height: auto;
  }
  .slide-content .project-title {
    font-size: 1.1rem;
  }
  .slide-content p {
    font-size: 0.9rem;
  }
  .slide-content .project-date {
    font-size: 0.8rem;
  }
}
