.skills-section {
  padding: 10px 0;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

.skills-box {
  background: var(--main-background);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--sub-background);
  transition: all 0.3s;
}
.skills-box:hover {
  background: var(--sub-background);
  border: 1px solid var(--main-text);
}
.skills-box:hover h3 {
  color: var(--main-highlight);
}
.skills-box .skills-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  justify-content: center;
  padding: 10px;
  transition: all 0.3s;
}

.skills-box .skills-list .skill-content {
  transition: all 0.3s;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.skills-box .skills-list .skill-content:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid var(--main-background);
}
.skills-box .skills-list .skill-content:hover p {
  color: var(--main-background);
  font-weight: bold;
}
.skills-box h3 {
  text-align: center;
  margin-bottom: 1.2rem;
}

.skills-box .skill-content img {
  display: inline-block;
  height: 64px;
}

@media (max-width: 768px) {
  .skills-box .skills-list {
    grid-template-columns: repeat(4, 2fr);
  }
  .skills-box h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 560px) {
  .skills-box .skills-list {
    grid-template-columns: repeat(2, 4fr);
  }
  .skills-box p {
    font-size: 0.9rem;
  }
}
